.logo{
  width: 2.5rem;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 10px;
}

.navbar-ul{
  margin: 0;
  background-color: rgb(2, 1, 1);
  text-align: left;
}

.navbar-ul li{
  display: inline-block;
  padding: 15px;
}

.navbar-ul li a{
  color: #fff;
  text-decoration: none;
  padding: 0.6 rem;

}
.register-outer-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-top: 8vh;
  padding: 2vh;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgb(184, 184, 184);
  background-color: rgb(240, 240, 236);
}
  
.login-outer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-top: 8vh;
  padding: 2vh;
  border-radius: 15px;
  box-shadow: 2px 4px 6px rgb(184, 184, 184);
  background-color: rgb(240, 240, 236);
}


.inputBox{
  margin: 0.5rem;
  padding: 5px;
  width: 20rem;
  height: 1.4rem;
  border: 1px solid black;
  border-radius: 4px;
  background-color:  rgb(254, 254, 254);
}


.homeCard{
  width: 20vw;
  border-radius: 5px;
  border:  1px solid  rgb(242, 167, 29);
  height: 20vh;
  background-color: #fff;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.cardGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  width: 66vw;
}

.homeGrid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}


.form{
  border-radius: 10px;
  background-color: rgba(251, 243, 236, 0.88);
  display: flex;
  align-self:center;
  justify-content: center;
  padding: 50px;
  margin: 50px;
}


.formBox{
  margin: 0.5rem;
  padding: 5px;
  width: 34rem;
  height: 2rem;
  border: 1px solid #ccc;
  background-color:  rgb(255, 255, 255);
}

.formBox:hover{
  border-color: #005eff;
  color: rgb(25, 24, 24);
}

.formBox[type="text"]:focus{
  border-color: #005eff;
}

.formBox::placeholder{
 font-size: 15px;
 color: rgb(178, 178, 180);
 font-weight: lighter;
}

.formgrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; 
}

/* check this later */
/* label {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #aaa;
  font-size: 16px;
  font-weight: normal;
  pointer-events: none;
  transition: 0.2s;
}


.formBox:focus + label,
.formBox:not(:placeholder-shown) + label {
  top: -20px;
  left: 0;
  font-size: 14px;
  color: #00bfff;
  font-weight: bold;
  transition: 0.2s;
  position: absolute;
} */






/* 

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(242, 167, 29);
}
 */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
